div#asc_pane()
  div#ascgraph_display_head(class='card-header')
    div(class='btn-group' role='group')
      button#heat_ascgraph(type='button' class='mr-2 btn-secondary btn-small') Heat
      button#freeze_ascgraph(type='button' class='mr-2 btn-secondary btn-small') Freeze
    div#cnt_toggle_asc(class='btn-group' role='group')
      button#center_ascgraph(type='button' class='btn-secondary btn-small') Center
      button#free_ascgraph(type='button' class='btn-secondary btn-small') Free
  div#ascgraph_display(class='card-body graph-disp')
    svg#ascgraph(width="100%",height="200%")

