div(class='panel panel-default')
  div#assoc_display_head(class='panel-heading')
    |Associations
    button#assoc-clean-up
      |Clean up
  div#assoc_display(style="overflow-y: scroll; scroll-behavior:auto; height:250px")
    table#assocs(class='table')
      thead
        tr
          th(class='col-md-2') Source BRIDG Class
          th(class='col-md-2') Source Role
          th(class='col-md-2') Association
          th(class='col-md-2') Dest Role
          th(class='col-md-2') Dest BRIDG Class
        tbody
