div(class='card')
  div#assoct_display_head(class='card-header')
    |Associations
    button#assoc-clean-up(class='ml-2')
      |Clean up
  div#assoct_display(style="overflow-y: scroll; scroll-behavior:auto; height:300px")
    table#assocs(class='table table-striped')
      thead
        tr
          th(scope='col') Source BRIDG Class
          th(scope='col') Source Role
          th(scope='col') Association
          th(scope='col') Dest Role
          th(scope='col') Dest BRIDG Class
        tbody
