div#asc_pane()
  div#ascgraph_display_head(class='card-header')
    button#heat_ascgraph(type='button' class='mr-2 btn-secondary btn-small') Heat
    button#freeze_ascgraph(type='button' class='mr-2 btn-secondary bth-small') Freeze
    button#center_ascgraph(type='button' class='mr-2 btn-secondary btn-small') Center
    button#free_ascgraph(type='button' class='mr-2 btn-secondary bth-small') Free
  div#ascgraph_display(class='card-body graph-disp')
    svg#ascgraph(width="100%",height="200%")

