extends layout

block content
  div(class='container')
    div(class='row mb-3')
      div(class='col')
        include ./search_panel.pug
        include ./logo.pug
      div(class='col')
        include ./node_display.pug
    div(class='row mb-3' id="graph_tabs")
      ul
        li
          a(href="#ent_pane") Entities
        li
          a(href="#asc_pane") Associations
      include ./graph_display.pug
      include ./assoc_graph_display.pug
    div(class='row mb-3')
      div(class='col')
        include ./result_table.pug
    div(class='row mb-3')
      div(class='col')
        include ./assoc_table.pug

