div(class='card')
  div(class='card-header')
    |Search Results
    button#result-clean-up(class='ml-2')
      |Clean up
  div( style="overflow-y: scroll; scroll-behavior:auto; height:300px;")
    table#results(class='table')
      thead
        tr
          th(class='col-md-2') BRIDG Name
          th(class='col-md-1') Entity Type
          th(class='col-md-2') Describes...
          th(class='col-md-6') Documentation
          th(class='col-md-1') Match Score
        tbody
