div(class='panel panel-default')
  div(class='panel-heading')
    |Search Results
    button#result-clean-up
      |Clean up
  div( style="overflow-y: scroll; scroll-behavior:auto; height:600px;")
    table#results(class='table')
      thead
        tr
          th(class='col-md-2') BRIDG Name
          th(class='col-md-1') Entity Type
          th(class='col-md-2') Describes...
          th(class='col-md-6') Documentation
          th(class='col-md-1') Match Score
        tbody
