div(class='card')
  div#results_display_head(class='card-header')
    |Search Results
    button#result-clean-up(class='ml-2')
      |Clean up
  div#results_display( style="overflow-y: scroll; scroll-behavior:auto; height:300px;")
    table#results(class='table table-striped')
      thead
        tr
          th(scope='col') BRIDG Name
          th(scope='col') Entity Type
          th(scope='col') Describes...
          th(scope='col') Documentation
          th(scope='col') Match Score
        tbody
