div(class='card border border-0', style='width:350px')
  form#search(role='search')
    div(class='form-group')
      input#query-inp(class="mb-1" type='txt' value='' placeholder='search term or Lucene query' class='form-control' name='search')
      input#match-score-inp(class="mb-2" type='txt' value='' class='form-control' name='matchmin' placeholder='minimum match score')
      div(class='d-flex flex-row')
        button#ent-search-btn(type='button' class='mr-2 btn btn-outline-primary') Search Names
        button#doc-search-btn(type='button' class='mr-2 btn btn-outline-primary') Search Docs        
