body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg.graph {
}

.node {
    stroke: #222;
    stroke-width: 1.5px;
}
.node.Class {
    fill: #484;
}

.node.ur {
    fill: black;
}

.node.Class.hilite {
    fill: blue;
}

.node.Property {
    fill: #BBB;
}
.node.Property.hilite {
    fill: blue;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 3px;
}
text.node_lbl {
    font-size: 10pt;
    fill: black;
    text-anchor: middle;
}
